.article-meta {
    margin: 0 0 .2rem;
    display: block;
    position: relative;
    font-weight: 300;
}

.article-meta img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}
.article-meta .info .author {
    display: block;
    font-weight: 500!important;
}
.article-meta .info .date {
    color: #3b3838;
    font-size: .8rem;
    display: block;
}
.article-meta .info {
    margin: 0 1.5rem 0 .3rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;
}
.pull-xs-right{
    float: right;
}

.tag-list {
    float: right;
    max-width: 50%;
    vertical-align: top;
}
ul.tag-list {
    padding-left: 0!important;
    display: inline-block;
    list-style: none!important;
}






.tag-list li {
    font-weight: 300;
    font-size: .8rem!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.tag-default.tag-outline {
    border: 1px solid #ddd;
    color: #aaa!important;
    background: 0 0!important;
}
ul.tag-list li {
    display: inline-block!important;
}
.tag-default {
    color: #fff!important;
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: .2rem;
    display: inline-block;
}
.tag-default {
    background-color: #818a91;
}
.tag-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.article-card-footer span {
    max-width: 30%;
    font-size: .8rem;
    font-weight: 300;
    color: #bbb;
    vertical-align: middle;
}
.card-footer {
    background-color: transparent; 
}