.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
}

.logo-font {
  vertical-align: middle;
}

.logo-font {
  font-family: titillium web,sans-serif;
}
a {
  text-decoration: none;
  touch-action: manipulation;
  background-color: transparent;
}

.attribution {
  vertical-align: middle;
  margin-left: 10px;
  font-size: .8rem;
  color: #bbb;
  font-weight: 300;
}