
.navbar-brand {
  font-family: titillium web,sans-serif;
  font-size: 1.5rem!important;
  padding-top: 0!important;
  margin-right: 2rem!important;
  color: #5cb85c!important;
}
.navbar-brand {
  float: left;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}